@import '_content/Adminto.UI.Toolkit/Adminto.UI.Toolkit.49upig7wjx.bundle.scp.css';

/* _content/Adminto.App.Shared.Components/Component1.razor.rz.scp.css */
.my-component[b-815i4sv0x9] {
    border: 2px dashed red;
    padding: 1em;
    margin: 1em 0;
    background-image: url('background.png');
}
/* _content/Adminto.App.Shared.Components/Dashboard/DonutGraph/DonutGraph.razor.rz.scp.css */
